@import url('https://fonts.googleapis.com/css?family=Arvo&display=swap');

.menu {
  background-color: #C0C0C0;
  text-align: center;
}

.primary-navigation {
  font-family: 'Arvo', sans-serif;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 10px;
}

.primary-navigation ul {
  padding: 0;
  list-style: none;
  display: flex;
}

.primary-navigation li {
  position: relative;
  margin: 0 20px;
}

.primary-navigation a {
  color: #000;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
}

.primary-navigation a:hover, .primary-navigation li:hover > a {
  color: #000;
  background-color: #f3f0e2;
  transition: background-color 0.3s ease;
}

.dropdown {
  display: none;
  position: absolute;
  left: 0;
  background-color: #606060;
  padding: 10px;
  box-shadow: 0 3px 5px -1px #ec0303;
  border-radius: 5px;
  z-index: 1000;
}

ul li ul {
  visibility: hidden;
  border-radius: 15%;
  opacity: 0;
  position: absolute;
  padding-left: 0;
  left: 0;
  display: none;
  background: #22283a;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  min-width: 250px;
  text-align: left;
  padding-top: 20px;
  box-shadow: 0px 3px 5px -1px #000000;
}

.dropdown li {
  margin-bottom: 10px;
  width: auto;
}

.dropdown li a {
  color: #fff;
}

.primary-navigation li:hover .dropdown {
  display: block;
}

@media (max-width: 768px) {
  .primary-navigation {
    flex-direction: column;
  }
  .primary-navigation li {
    margin: 10px 0;
  }
}